.grandParent {
  width: 99vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* 49.5 */
/*   :    */
.parent {
  width: 74.25vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  height: 100%;
  width: 100%;
  background-color: transparent;
  
}

.info{
  background-color: black;
  width: 24.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}